*{
    padding: 0;
    margin: 0;
    /*Some browsers automatically add paddings and margins, so this is just to override them.*/
    font-family: 'Poppins', sans-serif;
    /*from google fonts*/
}

.heading{
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/main.jpg);/*gradient overlay*/
    background-size: cover;
    /*Completely cover the background psoition area.*/
    position: relative;
}   

nav{
    padding: 2% 6%;  /*top & bottom, and right & left paddings*/
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav img {
    width: 120px;
    position: absolute;
    top: 25px;
    left: 20px;
    /*It will be positioned relative to its ancestor element*/
 }
  .navigation{
      flex: 1; /*Will occupy all space in row*/
      text-align: right;
  }

  .navigation ul li{
      display: inline-block;
      list-style: none;
      position: relative;
      padding: 8px 12px;
  }

  .navigation ul li::after{ 
      /*'  ::after  -  pseudo-element that inserts "something" after the CONTENT of the selected elements (it will stay in the element itself)*/
      content: ""; /*generates a new empty element/ensures this gets displayed*/
      display: block;
      margin: auto;
      width: 0%;
      height: 2px;
      transition: 0.6s; /*animation transition/it will take 0.6 seconds to completely appear when we hover over it*/
      background-color:#f44336 ;
  }/*#B828B2*/

  .navigation ul li:hover::after{
      width: 100%; /*when we HOVER over the anchors, the previous css statement will be applied.*/
  }

  .navigation ul li a{ /*styling the anchor tag*/
      color: white;
      font-size: 16px;
      text-decoration: none; /*removes line under anchors (links)*/

  }

  .box{
      color: white;
      position: absolute;
      width: 90%;
      top: 50%;
      left: 50%;
      text-align: center;
      transform: translate(-50%, -50%);
      /*It is characterized by two dimensional vectors/How much the element moves in each direction X & Y*/
    
  }

  .box h1{
      font-size: 63px;
  }

  .box p{
      font-size: 14px;
      margin: 10px 0px 40px; /*10px from top, 0px from left & right, 40px from bottom*/
      color: white;
  }

  .morebutton{
      position: relative;
      text-decoration: none;
      display: inline-block;
      color: white;
      padding: 12px 34px;
      font-size: 13px;
      background: transparent;
      cursor: pointer; /*the cursor will be displayed when pointing on the element (pointer will indicate a link)*/
      border: 1px solid white;
      border-radius: 25px; /*rounded border (25px is the max)*/

  }

  .morebutton:hover{
      transition: 0.5s;
      border: 1px solid #816bc1;
      background-color: #816bc1;
  }

  nav .fa{ /*DO NOT display the icons (when the device is standard/more than 700px)*/
    display: none;
}



  /*-------SERVICES-------*/


  .service{
      text-align: center;
      width: 80%;
      padding-top: 100px;
      margin: auto;
  }

  h1{
      font-weight: 600;
      font-size: 35px;
  }

  p{
      color: black;
      font-weight: 300;
      font-size: 15px;
      line-height: 25px;
      padding: 10px;
      
  }

  .row{
      display: flex; /*all the div elements inside row will be in columns*/
      margin-top: 5%;
      justify-content: space-between; /*this will distribute items evenly*/
  }

  .servicecol{
      flex-basis: 30%; /*the inital length of the first item*/
      border-radius: 10px;
      margin-bottom: 5%;
      padding: 20px 13px;
      box-sizing: border-box; /*padding and height will be ALREADY INCLUDED when we specify hight and width*/
      background: #EFEAFF;
      transition: 0.5s;
      /*#fff3f3*/
  }

  h3{
      font-weight: 600;
      margin: 10px 0;
      text-align: center;
  }

  .servicecol:hover{
      box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2); /*A shadow with 20% transaparency*/
      cursor: pointer;
  }

  /*-------STAFF-------*/

  .staff{
      text-align: center;
      margin: auto;
      width: 80%;
      padding-top: 50px;
  }

  .staffcol{
      border-radius: 10px;
      flex-basis: 30%;
      position: relative;
      overflow: hidden;
      margin-bottom: 30px;
      
  }

  .staffcol img{
      width: 100%;
      display: block;
  }

  .layer{
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      /* background-color: transparent; */
      transition: 0.5s;
  }

  .layer:hover{
    background: rgba(239,234,255, 0.7);

  }

  .layer h3{
      font-weight: 500;
      font-size: 26px;
      width: 100%;
      color: white;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%); /*Center from the x-axis*/
      position: absolute;
      opacity: 0;
      transition: 0.5s;

  }

  .layer:hover h3{
      opacity: 1;
      bottom: 50%;
  }

/*-------FACILITIES-------*/

  .facilities{
      margin: auto;
      text-align: center;
      width: 80%;
      padding-top: 100px;
  }

  .facilitiescol{
      border-radius: 10%;
      flex-basis: 31%;
      text-align: left;
      margin-bottom: 5%;
  }

  .facilitiescol img{
      border-radius: 10px;
      width: 100%;

  }

  .facilitiescol p{
      padding: 0;
  }

  .facilitiescol h3{
      text-align: left;
      margin-top: 15px;
      margin-bottom: 15px;

  }

/*-------FACILITIES-------*/

  .testimonials{
    margin: auto;
    text-align: center;
    width: 80%;
    padding-top: 100px;

  }

  .testimonialscol{
      border-radius: 10px;
      flex-basis: 44%;
      margin-bottom: 5%;
      text-align: left;
      padding: 25px;
      cursor: pointer;
      display: flex;
      background: #EFEAFF;
  }

  .testimonialscol img{
      border-radius: 50%;
      margin-left: 5px;
      margin-right: 30px;
      height: 40px ;
  }

  .testimonialscol p{
      padding: 0;
  }

  .testimonialscol h3{
    text-align: left;
    margin-top: 15px;
  }

  .testimonialscol .fa{
      color: #f44336;
      /*2596be*/
  }

  /*-------CALL TO ACTION-------*/

  .call{
    width: 80%;
    margin: 100px auto;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(images/action.jpg);/*gradient overlay*/;
    background-position: center;
    text-align: center;
    background-size: cover;
    border-radius: 10px;
    padding: 100px 0;
  }

  .call h1{
      margin: 40px;  
      padding: 0;
      color: white;
  }

  /*-------CALL TO ACTION-------*/

  .footer{
      text-align: center;
       width: 100%;
       padding: 30px 0;
       background-color: #efeaff;
  }

  .footer h4{
      margin-top: 20px;
      margin-bottom: 25px;
      font-weight: 600;
  }

  .socialicons .fa{
      margin: 0 13px;
      padding: 18px 0;
      cursor: pointer;
      color: #816bc1;
  }
  
  .socialicons .fa:hover{
      color: #4D22CA; 
    }

  .fa-heart-o{
      color: #f44336;
  }


  /*-------------------------ABOUT PAGE-------------------------*/


  .subheading{
      background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/about.png);
      
      background-size: cover;
      background-position: bottom -500px right 20px;
      height: 50vh;
      width: 100%;
      text-align: center;
      color: white;
    
  }

  .subheading h1{
      margin-top: 100px;
  }

  .about{
      padding-top: 80px;
      padding-bottom: 50px;
      margin: auto;
      width: 80%;
  }

  .aboutcol{
      padding: 30px 2px;
      flex-basis: 48%;
  }

  .aboutcol img{
      width: 100%;
  }

  .aboutcol h1{
      padding-top: 0;
  }

  .aboutcol p{
      padding: 15px 0 25px;
  }

  .purplebutton{
      border: 1px solid #816bc1;
      background: transparent;
      color: #816bc1;
  }

  .purplebutton:hover{
      color: white;
      transition: 0.5s;
  }



  
  

  /*-------------------------SERVICES-------------------------*/
       /*--------------------SIMULATE--------------------*/

  .form{
    padding-top: 80px;
    padding-bottom: 50px;
    margin: auto;
    width: 80%;

 }
 
 .form h1{
   text-align: center;
 }

 .spacea{
     margin-left: 500px;
     margin-top: 30px;
 }

 .spaceb{
    margin-left: 250px;
    margin-top: 30px;
}


 .form h3{
     margin-top: 50px;
     text-align: center;
 }

  .radio{
      display: inline-flex; /*this makes the flex CONTAINER an inline element, while its CONTENT maintain its flex properties*/
      align-items: center;
      margin-right: 10px;
      cursor: pointer;
  }

  .radioinput{
      display: none; /*removes the radio buttons from display*/
  }

  .radiocircle{
      width: 1.25em;
      height: 1.25em; /*will be scaled according to .radio*/
      padding: 2px; /*between middle circle and the edges of the radio button*/
      border-radius: 100%;
      border: 2px solid #d8e4e2;
      margin-right: 10px; /*between radio component itself and text next to it*/
      box-sizing: border-box; /*padding and height will be ALREADY INCLUDED when we specify hight and width*/

  }

  .radiocircle::after{
      content: "";/*generates a new empty element/ensures this gets displayed*/
      width: 100%;
      height: 100%;
      display: block; /*take up whole width and height (with the 2px padding stated beofre being accounted for*/
      background: #816bc1;
      border-radius: 50%;
      transform: scale(0); /*by default, the "color" won't appear*/
      transition: /*transform*/ 0.15s; /*goes from scale(0) to scale(10 in 0.15s when it goes from unchecked to checked*/

  }

  .radioinput:checked + .radiocircle::after{ /*+ : adjacent sibling combinator (it measn select next element after the first element*/
      transform: scale(1);


  }


  .simbutton{
    margin-left: 539px;
    margin-top: 30px;
    position: relative;
    text-decoration: none;
    display: inline-block;
    color: #816bc1;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    cursor: pointer; /*the cursor will be displayed when pointing on the element (pointer will indicate a link)*/
    border: 1px solid #816bc1;
    /*border-radius: 25px; rounded border (25px is the max)*/

}

.simbutton:hover{
    transition: 0.5s;
    background-color: #816bc1;
}


  /*SERVICE RESULTS:*/


  .simulate{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/formresult.png);/*gradient overlay*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  /* .simulationlogo{
    height: 100px;
    width: 130px;
    margin-left: 45%;
   
    
} */
  
  .containers{ 
    position: relative; /*the element is positioned relative to its normal position*/
    margin: 240px auto;
    width: 1200px;
    height: 300px;
    
  }
  
  .containers .boxes{
    position: relative;
    float: left; 
    width: 370px; /*calc(400px - 30px); */
    height: 300px; /*calc(300px - 40px);*/
    background: black; 
    box-sizing: border-box; /*padding and height will be ALREADY INCLUDED when we specify hight and width*/
    overflow: hidden; /*Overflow decides what to do with content when it is too big. Hidden means that the overflaw will be clipped and the rest of the contetn would be invisible*/
    margin: 15px;
    border-radius: 10px;
  }
  
  .containers .boxes .icons{
    position: absolute; /*positioned relative to the nearest positioned ancestor */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: red;
    transition: 0.5s;
    z-index: 1;
    /*If two elements overlap, the element that comes LAST in the markup is going to overlap when elements begin stacking.
      The z-index property allows us to overrule this. So if we give the element a HIGHER z-index, it will overlap that previous element. */
  }
  
  .containers .boxes:hover .icons{
    top: 20px;
    left: calc(50% - 40px); /*calc() is very useful in cases when we want to use two units (like here for example, we want 50% of the container - 40px)*/
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  
  .containers .boxes .icons .fa{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*It is characterized by two dimensional vectors/How much the element moves in each direction X & Y*/
    font-size: 80px;
    color: white;
    transition: 0.5s;
  
  }
  
  .containers .boxes:hover .icons .fa{
    font-size: 40px; /*icon size*/
    /* left: 30px; */

  
    
  }
  
  .containers .boxes .contents{
    position: absolute;
    text-align: center;
    top: 100%;
    height: calc(100% - 100px); /*the 100px of the top property*/
    padding: 20px;
    box-sizing: border-box;
    transition: 0.5s;
    opacity: 0;
    
  }
  
  .containers .boxes:hover .contents{
    top: 100px;
    opacity: 1; /*the content's opacirty will transition from 0 to 1 when we hover and the content rises to the top*/
  
  }
  
  .containers .boxes .contents h3{
    padding: 0;
    margin: 0;
    color: white;
    font-size: 24px;
    
  }
  
  .containers .boxes .contents p{
    padding: 0;
    margin: 0;
    color: white;
    
  }
  
  .containers .boxes:nth-child(1) .icons{ /*nth-child() selector:  box 1 is the first child of the parent element*/
    background: #816bc1;
  }
  
  .containers .boxes:nth-child(1){
    background: #D7CAFB;
    /*9C8EC3*/
  }
  
  .containers .boxes:nth-child(2) .icons{ /*nth-child() selector:  box 2 is the second child of the parent element*/
    background: #93b6fa;
  }
  
  .containers .boxes:nth-child(2){
    background: #BDD2FB;
  }
  
  .containers .boxes:nth-child(3) .icons{ /*nth-child() selector:  box 3 is the third child of the parent element*/
    background: #ffacb7;
  }
  
  .containers .boxes:nth-child(3){
    background: #FFCAD1;
  }

/*-------------------------SERVICES-------------------------*/
      /*--------------------COLLECT--------------------*/


  .datarow{
    /*all the div elements inside row will be in columns*/
    margin-top: 5%;
    justify-content: space-between; /*this will distribute items evenly*/
    }
  
    
  .datacol{
    border-radius: 10px;
    flex-basis: 44%;
    margin-bottom: 5%;
    text-align: left;
    padding: 25px;
    cursor: pointer;
    display: flex;
    background: #EFEAFF;
    /* background-image: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.2) 100%), url(aub.png);
    background-repeat: no-repeat;
    background-size: 50% 100%;
    background-position: right bottom; */

    }
    
    
  .datacol p{
    padding: 0;
    font-weight: bold;
    }
    
  .datacol h3{
    text-align: left;
    margin-top: 15px;
    }

  .datacol a:link{
    color: #000000;
    text-decoration: none;
    }

  .datacol a:visited{
    color: purple;
    text-decoration: none;
  }

  .datacol a:hover{
    color: blue;
    text-decoration: none;
  }


/*-------------------------CONTACT US PAGE-------------------------*/


.location{
   margin: auto;
   padding: 80px 0;
   width: 80%;
}

.location iframe{
  width: 100%;
}

.contactus{
  margin: auto;
  width: 80%;
}

.contactcol{
  flex-basis: 48%;
  margin-bottom: 30px;
}

.contactcol div{
  display: flex;
  align-items: center;
  margin-bottom: 40px;

}

.contactcol div .fa{
  margin: 10px;
  margin-right: 30px;
  color: #816bc1;
  font-size: 28px;
}

.contaactcol div p{
  padding: 0;
}

.contactcol div h5{
  font-size: 20px;
  font-weight: 400;
  color: #555;
  margin-bottom: 5px;
}

.contactcol input, .contactcol textarea{
  padding: 15px;
  margin-bottom: 17px;
  width: 100%;
  outline: none;
  border: 1px solid #ccc;

}


/*-------------------------REGISTER PAGE-------------------------*/


.regpage{
  background-color: #D7CAFB;
}

.mainbox{
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  padding:20px;
  padding-bottom: 60px;

}

.mainbox .content{
  text-align: center;
}




.formbox{
  display: flex;
  min-height: 100vh;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  padding:20px;
  padding-bottom: 60px;
  background: #D7CAFB;
  
}

.formbox form{
  width: 500px;
  padding:20px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  background: #fff;
  border-radius: 15px;
  
}

.formbox form h3{
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 30px;
  color:#333;
}

.formbox form input, .formbox form select{
  width: 80%;
  padding:10px 15px;
  margin:8px 0;
  font-size: 17px;
  border-radius: 5px;
  background: #eee;
  
}


.formbox form select option{
  background: #fff;
}

.formbox form .formbutton{
  color:crimson;
  text-transform: capitalize;
  background: #fbd0d9;
  font-size: 20px;
  cursor: pointer;
  
  
}

.formbox form .formbutton:hover{
  color:#fff;
  background: crimson;
}

.formbox form p{
  font-size: 20px;
  margin-top: 10px;
  color:#333;
}

.formbox form p a{
  color:crimson;
}

.formbox form .errormsg{
  display: block;
  background: crimson;
  color: white;
  font-size: 20px;
  margin:10px 0;
  padding:10px;
  border-radius: 5px;
}










/*-------------------------MEDIA QUERIES-------------------------*/

nav .fa{
  display: none;
}

@media(max-width: 700px){/*Any device that is less than or equal 700px will have this code statement applied to it*/
  .box h1{
      font-size: 21px;
  }
  .navigation ul li{/*Each li/anchor will take up the whole line*/
      display: block;
  }
  
  .navigation{
      position: absolute;
      width: 200px;
      top: 0;
      right: -200px;
      text-align: left;
      background: #816bc1;
      z-index: 2;
      /*If two elements overlap, the element that comes LAST in the markup is going to overlap when elements begin stacking.
        The z-index property allows us to overrule this. So if we give the element a HIGHER z-index, it will overlap that previous element. */
      height: 100vh;
      transition: 1s;
  }
  nav .fa{ /*to display the icons (when device is less than or equal 700px)*/
      display: block;
      margin: 10px;
      font-size: 21px;
      cursor: pointer;
      color: #fff;

  }
  .navigation ul{
      padding: 25px;
  } 
    
    
}

  